body {
   background: #141C24;
}

.wrapper {
   height: 100%;
   width: 1000px;
   margin: 314px auto 0;
}

.header {
   display: flex;
   margin-bottom: 125px;
   align-items: center;
}

.header img {
   margin-right: 100px;
}

.header h1 {
   font-weight: 400;
   font-size: 48px;
   line-height: 48px;
   /* identical to box height */


   color: #FFFFFF;
}

.images img {
   text-align: center;
   margin: 0px 45px 0px 61px;
}